.padder {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 0.7vw;
  padding-top: 0.5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selector {
  width: 100%;
}

.selector tr button {
  width: 100%;
  background-image: url('../images/shopBG.png');
  border-radius: 2px;
  font-size: 22px;
  color: rgba(255,255,255,0.9);
  padding: 10px;
  
}

.selector tr button img {
    width: 8%;
   
  }

  .active-row {
   filter: brightness(1.7);
    transition: background-color 0.3s ease; /* Smooth transition for highlight */
  }

  
  
  .active-row td button {
    font-weight: bold;
    color: yellow;
  }



.songTitle {
  width: 30%;
  padding: 10px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff; /* Optional: makes the header background visible */
  z-index: 10; /* Ensure it stays above other content */
}


.playlist {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  
}

.playerBg {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  border: 2px outset rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  margin-top: 30px;

  padding: 30px;
}


  

.buttnRow {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}



.buttnRow div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.scrollable-container {
  width: 40vw;
  margin-left: 1vw;
  max-height: 60vh;
  overflow-y: auto;
  border-radius: 3px;
  border: 2px inset rgba(255, 255, 255, 0.2);

}

.scrollable-container::-webkit-scrollbar {
  display: none;
}
