.App {
  text-align: center;
}





.record-img{
  width: 40%;
  animation: App-logo-spin 3s linear infinite; /* Apply the spinning animation */
  border-radius: 90%;
  margin-top: 20px;
}

.playb{
  width: 500px;
  background-color: rgba(0,0,0,.2);
  font-size: 30px;
  color: white;
  margin-left: 2vw;
  padding: 10px;
  margin-top: 30px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
